* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poly", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

body {
  background-color: #393e46;
  color: rgb(238, 238, 238);
}
